__pycache__/
*.py[cod]
*$py.class

.buildozer/
docs/_build/
build/
dist/
sdist/
wheels/
*.egg-info

.tox/
.coverage
.coverage.*
coverage.xml
.cache
*.cover
.pytest_cache/

*.ipynb
.ipynb_checkpoints

*~
*.swp
*.sublime-workspace
.ropeproject

*.apk
key.rsa

docker-compose.yml
work